body {
  background-color: #fffff0;
  font-family: 'Lato', sans-serif;
}

.resultsGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 25%);
  margin-top: 20px;
}

.cell {
  border: 1px black solid;
  text-align: center;
  overflow: auto;
  padding: 10px;
}

.theName {
  font-weight: bold;
  font-size: 1.3rem;
}

img {
  border-radius: 5%;
}
